/* Add your own styles */
body{
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 55, 66);
}

header img{
    width: 80px;
    height: 80px;
    padding: 16px;
}

header h1{
    color: white;
    margin: 0;
}

main{
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main #controls{
    padding: 8px;
}

#result #result-table{
    border: 1px solid black;
    border-collapse: collapse;    
}

#result #result-table thead{
    background: #3E434A;
    color: white;
}

#result #result-table thead th{
    min-width: 150px;
    padding: 4px;
}

#result #result-table tbody td{
    padding: 4px;
}

#result-table tbody tr:nth-child(even){
    background: #ECF2FC;
}